{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block heading %}{{ l.t("add-feed-atproto") }}{% endblock heading %}
{% block content %}
  <form data-secure-ctx action="{{ routes::user::feeds::ADD_ATPROTO }}" method="post">
    <input type="hidden" name="csrf" value="{{ csrf }}">
    <table>
      <tbody>
        {% call macros::error_2col(error) %}
        <tr>
          <th><label for="add-atproto-name">{{ l.t("feed-name") }}</label></th>
          <td>
            <input id="add-atproto-name" type="text" name="name" placeholder="{{ l.t("optional-placeholder") }}">
          </td>
        </tr>
        <tr>
          <th colspan="2">{{ l.t("credential-login-info") }}</th>
        </tr>
        <tr>
          <th><label for="add-atproto-server">{{ l.t("credential-atproto-server") }}</label></th>
          <td><span>{{ server }}</span></td>
        </tr>
        <tr>
          <th><label for="add-atproto-user">{{ l.t("credential-username") }}</label></th>
          <td><span>{{ username }}</span></td>
        </tr>
        <tr>
          <td colspan="2"><input type="submit" value="{{ l.t("add-feed-submit") }}"></td>
        </tr>
      </tbody>
    </table>
  </form>
{% endblock content %}

{# vim:set ft=htmldjango: #}
