{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block heading %}{{ l.t("add-feed") }}{% endblock heading %}
{% block content %}
  <form data-secure-ctx action="{{ routes::user::feeds::ADD }}" method="post">
    <input type="hidden" name="csrf" value="{{ csrf }}">
    <table>
      <thead>
        <tr>
          <th scope="row" colspan="2">{{ l.t("add-feed-select-credentials") }}</th>
        </tr>
      </thead>
      <tbody>
        {% call macros::error_2col(error) %}
        {% for cred in creds %}
          <tr>
            <td>
              <input id="cred-{{ cred.id }}" type="radio" name="cred" value="{{ cred.id }}">
            </td>
            <td>
              <label for="cred-{{ cred.id }}">{{ cred.name +}} (<code>{{ cred.id }}</code>)</label>
            </td>
          </tr>
        {% endfor %}
        <tr>
          <td colspan="2"><input type="submit" value="{{ l.t("add-feed-next") }}"></td>
        </tr>
      </tbody>
    </table>
  </form>
{% endblock content %}

{# vim:set ft=htmldjango: #}
