{% extends "layout.html" %}

{% block heading %}{{ l.t("add-credential-atproto") }}{% endblock heading %}
{% block content %}
  <form data-secure-ctx action="{{ routes::user::credentials::ADD_ATPROTO }}" method="post">
    <input type="hidden" name="csrf" value="{{ csrf }}">
    <table>
      <thead>
        <tr>
          <th scope="row" colspan="2">{{ l.t("add-credential-atproto") }}</th>
        </tr>
      </thead>
      <tbody>
        {% match error %}
        {% when Some with (err) %}
          <tr>
            <td colspan="2"><strong>{{ l.t("error") }}</strong> {{+ err }}</td>
          </tr>
        {% when None %}
        {% endmatch %}
        <tr>
          <th><label for="add-atproto-name">{{ l.t("add-credential-name") }}</label></th>
          <td>
            <input id="add-atproto-name" type="text" name="name" placeholder="{{ l.t("optional-placeholder") }}">
          </td>
        </tr>
        <tr>
          <th><label for="add-atproto-server">{{ l.t("add-credential-atproto-server") }}</label></th>
          <td>
            <input id="add-atproto-server" type="text" name="server" required value="https://bsky.social/">
          </td>
        </tr>
        <tr>
          <th><label for="add-atproto-user">{{ l.t("add-credential-username") }}</label></th>
          <td>
            <input id="add-atproto-user" type="text" name="username" required>
          </td>
        </tr>
        <tr>
          <th><label for="add-atproto-pass">{{ l.t("add-credential-password") }}</label></th>
          <td>
            <input id="add-atproto-pass" type="password" name="password" required>
          </td>
        </tr>
        <tr>
          <td colspan="2"><input type="submit" value="{{ l.t("add-credential-submit") }}"></td>
        </tr>
      </tbody>
    </table>
  </form>
{% endblock content %}

{# vim:set ft=htmldjango: #}
