{% extends "layout.html" %}

{% block heading %}{{ self.t("user-credentials-heading") }}{% endblock heading %}
{% block content %}
  <form id="add-atproto" data-secure-ctx action="{{ credentials::ATPROTO_ROUTE }}" method="post">
    <input type="hidden" name="csrf" value="{{ csrf }}">
  </form>
  <table>
    <thead>
      <tr>
        <th scope="row" colspan="2">{{ self.t("user-credentials-add-atproto") }}</th>
      </tr>
      <tr>
        <th><label for="add-atproto-server">{{ self.t("user-credentials-add-atproto-server") }}</label></th>
        <td>
          <input id="add-atproto-server" form="add-atproto" type="text" name="server" required>
        </td>
      </tr>
      <tr>
        <th><label for="add-atproto-user">{{ self.t("user-credentials-add-username") }}</label></th>
        <td>
          <input id="add-atproto-user" form="add-atproto" type="text" name="username" required>
        </td>
      </tr>
      <tr>
        <th><label for="add-atproto-pass">{{ self.t("user-credentials-add-password") }}</label></th>
        <td>
          <input id="add-atproto-pass" form="add-atproto" type="password" name="password" required>
        </td>
      </tr>
      <tr>
        <td colspan="2"><input form="add-atproto" type="submit" value="{{ self.t("user-credentials-add-submit") }}"></td>
      </tr>
    </thead>
  </table>
{% endblock content %}

{# vim:set ft=htmldjango: #}
