{% extends "layout.html" %}

{% block heading %}{{ l.t("credentials-heading") }}{% endblock heading %}
{% block content %}
  <table>
    <thead>
      <tr>
        <th scope="col">{{ l.t("credential-id") }}</th>
        <th scope="col">{{ l.t("credential-name") }}</th>
      </tr>
    </thead>
    <tbody>
      {% for cred in creds %}
        <tr>
          <td><code>{{ cred.id }}</code></td>
          <td>{{ cred.name }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <nav>
    <ul>
      <li><a href="{{ routes::user::credentials::ADD_ATPROTO }}">{{ l.t("add-credential-atproto") }}</a></li>
    </ul>
  </nav>
{% endblock content %}

{# vim:set ft=htmldjango: #}
